.header {
    font-size: 1.1em;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.ticker {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

.symbol {
    padding-left: 15px;
    padding-right: 5px;
}