  .popup {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    padding: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background: rgba(255, 255, 255);  
  }