.dstocklist {
    display: flex;
    flex-direction: row;
    align-items: center
}

.column-left {
    width: 120px;
    text-align: left
}

.column-left-small {
    width: 75px;
    text-align: left
}

.column-right {
    width: 135px;
    text-align: right;
}

h2 {
    padding: 20px 0
}