.dstocklist {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px
}

.linebreak {
    display: flex;
    flex-wrap: wrap;
}
  
.dstocksymbol {
    display: flex;
    flex-wrap: wrap;
    width: 70px;
    text-align: left;
    font-weight: 900
}

.dstockname {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    text-align: left
}

.dstockprice {
    width: 65px;
    text-align: right;
}

.dstockpremium {
    width: 85px;
    text-align: center;
}

.dstockpremiumhead {
    width: 85px;
    text-align: right;
}

.column-right {
    width: 100px;
    text-align: right;
}

h2 {
    padding: 20px 0
}
