.page-container {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5em;
    padding-right: 0.5em
}

.dstocklist {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px
}

.linebreak {
    display: flex;
    flex-wrap: wrap;
}
  
.dstocksymbolheader {
    display: flex;
    flex-wrap: wrap;
    width: 55px;
    text-align: left;
    font-weight: 900
}

.dstocksymbol {
    display: flex;
    flex-wrap: wrap;
    color:rgb(20, 20, 189);
    width: 55px;
    text-align: left;
    font-weight: 900
}

.dstocknameheader {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    width: 65px;
    text-align: left
}

.dstockname {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    width: 65px;
    text-align: left
}

.dstockprice {
    width: 65px;
    text-align: right;
}

.dstockpremium {
    width: 70px;
    text-align: center;
}

.dstocktvl {
    width: 100px;
    text-align: right;
}

.dstockapr {
    width: 70px;
    text-align: right;
}

h2 {
    padding: 20px 0
}

